.header {
  position: relative;
  width: 100%;

  @media (max-width: $breakpoint-tablet) {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &::after {
    position: absolute;
    content: "";
    top: 115px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $line;

    @media (max-width: $breakpoint-tablet) {
      top: 123px;
    }
  }

  a {
    color: $black;

    &:hover,
    &:focus {
      color: $brown;
      outline-color: $brown;
    }

    &:active {
      color: $brown;
      opacity: 0.75;
    }
  }
}

.header-wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  padding-right: 93px;
  padding-left: 95px;

  @media (max-width: $breakpoint-tablet) {
    flex-wrap: nowrap;
    padding-right: 161px;
    padding-left: 165px;
  }
}

.header-toggle {
  display: none;
}


.header-logo {
  display: block;
  width: 66px;
  height: 66px;
  transform: translateX(-50%);

  svg {
    fill: $brown;
  }

  @media (max-width: $breakpoint-mobile) {
    width: 52px;
    height: 52px;
  }
}

.header-login {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;

  @media (max-width: $breakpoint-tablet) {
    display: none;
  }
}

.header__login-cart {
  display: flex;
  width: 150px;
  justify-content: space-between;
  padding-left: 26px;
  padding-right: 7px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;

  @media (max-width: $breakpoint-tablet) {
    width: 40px;
    justify-content: center;
    align-items: center;
    padding: 0;
  }

  @media (max-width: $breakpoint-tablet) {
    span {
      display: none;
    }
  }

  svg {
    display: none;

    @media (max-width: $breakpoint-tablet) {
      display: block;
      stroke: $black;
    }
  }
}

.header-nav {
  width: 100%;
  margin-top: 30px;

  @media (max-width: $breakpoint-tablet) {
    display: none;
  }
}

.header__site-menu {
  @include no-list;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 60px;
  padding-left: 165px;
  padding-right: 155px;

  & a {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    &:hover,
    &:focus {
      color: $brown;
    }

    &:active {
      opacity: 0.7;
    }
  }

  li:not(:last-child) {
    margin-right: 36px;
  }

  &--about {
    display: none;
  }
}