.info {
  display: flex;
  justify-content: space-between;
  width: 62%;

  @media (max-width: $breakpoint-tablet) {
    width: 65%;
  }

  @media (max-width: $breakpoint-mobile) {
    flex-direction: column;
    width: 100%;
  }

  & ul {
    @include no-list;

    @media (max-width: $breakpoint-mobile) {
      margin-bottom: 20px;
    }

    &:first-of-type {
      margin-right: 15px;
    }
  }

  & li {
    display: flex;
    margin-bottom: 21px;
  }

  & a {
    color: $white;

    &:hover {
      opacity: 0.5;
    }

    &:active {
      opacity: 1;
    }
  }
}
